html{
    font-size: larger;
}

.form-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.form {
  border: 1px solid #000;
  padding: 50px;
}

.form-row{
    display: flex;
    padding: 10px;
}

.form-row .form-label{
    min-width: 90px;
}

.form-row .form-input{
    display: flex;
    font-size: larger;
}

.form-btn{
    display: flex;
    justify-content: flex-end;
}

.form-btn .input-btn{
    padding: 10px ;
    margin-top: 12px;
    margin-left: 10px;
}
